body{
	background: url(../img/bg.png) no-repeat 0 0;
	background-size: 100% 100%;
}
#arrowDown{
	position: fixed;
	bottom: 0.1rem;
	width: 0.7rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;;
}
.meihuaTop{
	position: absolute;
	top: 0.3rem;
	right: 0;
	width: 4rem;
}
.meihuaBottom{
	position: absolute;
	bottom: 0.4rem;
	left: 0;
	width: 3.2rem;
}
.companyName{
	width: 100%;
	font-size: 0.3rem;
	line-height: 0.3rem;
	position: absolute;
	bottom: 0.7rem;
	text-align: center;
}

/*--------------页面整体设置----------------*/
.page{
	padding-top: 0.74rem;
	display: none;
}
.page .mainBox{
	width: 6.62rem;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 0.33rem;
}
.page .mainBox .title{
	font-size: 0.46rem;
	line-height: 0.76rem;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.page .mainBox .title span{
	background: #a03636;
	display: inline-block;
	width: 0.76rem;
	border-radius: 50%;
}
.page .mainBox .text{
	font-size: 0.3rem;
	line-height: 0.45rem;
	margin-top: 0.1rem;
}
.page .mainBox .imgBox{
	animation-delay: 0.5s;
}
.page .mainBox img{
	width: 100%;
}
/*------------------------第一页----------------------*/
#page1 .page1Box{
	padding-top: 3.6rem;
}
#page1 .wu{
	font-size: 1.7rem;
	position: absolute;
	top: 1.6rem;
	left: 1.8rem;
	font-weight: bold;
}
#page1 .zhen{
	font-size: 1.7rem;
	position: absolute;
	top: 2.7rem;
	left: 3.2rem;
	font-weight: bold;
}
#page1 p{
	font-size: 0.24rem;
	line-height: 0.5rem;
	position: absolute;
	top: 2rem;
	left: 4.7rem;
}
#page1 .page1Box h1{
	font-size: 0.3rem;
	line-height: 0.6rem;
	text-align: center;
	font-weight: bold;
}
#page1 .page1Box h2{
	font-size: 0.28rem;
	line-height: 0.6rem;
	text-align: center;
}
#page1 .page1Box img{
	width: 5rem;
	margin: 0 auto;
}
/*-------------------第三页------------------------*/
#page3 h2{
	font-size: 0.3rem;
	line-height: 0.5rem;
	margin: 0.2rem 0;
	text-align: center;
}
/*-------------------第四页------------------------*/
#page4 li{
	border-bottom: 1px dashed #464646;
	margin-bottom: 0.4rem;
}
#page4 h2{
	font-size: 0.3rem;
	line-height: 0.6rem;
	color: white;
	font-weight: bold;
}
#page4 h2 span{
	display: inline-block;
	background: #464646;
	padding: 0 0.1rem;
}
#page4 p{
	font-size: 0.3rem;
	line-height: 0.5rem;
	color: #464646;
	margin: 0.1rem 0;
}
/*-------------------第五页-------------------------*/
#page5 ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#page5 li{
	position: relative;
	width: 2.6rem;
	height: 2.6rem;
	margin-bottom: 1rem;
}
#page5 li img{
	width: 100%;
}
#page5 h2{
	font-size: 0.3rem;
	line-height: 0.6rem;
	color: white;
	width: 100%;
	position: absolute;
	top: -0.2rem;	
	left: 0;
	text-align: center;
	z-index: 1;
}
#page5 h2 span{
	display: inline-block;
	background: #464646;
	padding: 0 0.1rem;
}

/*-------------------第六页-------------------------*/
#page6 h2{
	font-size: 0.4rem;
	line-height: 0.8rem;
	text-align: center;
	font-weight: bold;
	margin-top: 0.3rem;
	color: #464646;
}
#page6 h3{
	font-size: 0.36rem;
	line-height: 0.6rem;
	text-align: center;
	color: #464646;
	font-weight: bold;
}
#page6 .text{
	border: 1px solid #464646;
	padding: 0.2rem 0.1rem;
	margin-top: 0.2rem;
}
/*-------------------第七页-------------------------*/
#page7 li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}
#page7 li .imgBox{
	width: 2.4rem;
}
#page7 .rightBox{
	width: 3rem;
}
#page7 h2{
	font-size: 0.3rem;
	font-weight: bold;
	line-height: 0.8rem;
	border-bottom: 0.03rem solid black;
}
#page7 p{
	color: #464646;
	margin-top: 0.3rem;
}
/*-------------------第八页-------------------------*/
#page8 .textBox{
	margin-top: 0.5rem;
}
